.defaultHandle{
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    border-radius: 100%;
    transform: translate(0,-50%);
}

.barBackground{
    height: 90%;
    width: 100%;
}
